{{#partial "content"}}

        <div class="container text-start mx-auto">
            <div class="row">
                {{#each squad}}
                    <div class="col-md-4">
                            <a class="btn btn-primary" href="/squads/{{squadId}}"> {{squadName}} >Click to View Hero Members <i class="fa fa-exclamation-triangle"></i></a>
                            <div class="border text-center">
                                <h5>Cause: {{squadCause}}</h5>
                                <h5>Maximum Size: {{maxSize}} Members</h5>
                            </div>
                        </div>
                {{/each}}
            </div>
        </div>

{{/partial}}

{{> "layout.hbs"}}
